extends layout

block content
  h1=title
  p I'm going to use the MKR1000 along with Johnny-Five and Node to control a New Bright RC car over wifi.
  div
    button#forward Forward
    button#reverse Reverse
  div
    button#left Left
    button#right Right

block page_scripts
  script(src='/javascripts/carControls.js')

